// Variable
$mainblue: #043e90;
$mainbg: #f2f2f2;
$mainblack: #767676;
$maingrey: #424242;


body{
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.main-nav{
    height: 4rem;
    width: 100%;
    background-color: $mainbg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}
.leftmenu{
    display: flex;
    height: fit-content;
    align-items: center;
}
.logo{
    height: 2rem;
    width: auto;
    img{
        height: 100%;
    }
}
ul.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    li.menu-links{
        padding: .5rem 1.5rem;
        color: $mainblue;
        font-size: .8rem;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 400;
        letter-spacing: 1px;
    }
}
.rightmenu{
    display: flex;
    height: fit-content;
    align-items: center;
}
.logintext{
    color: $mainblue;
    font-weight: 900;
    font-size: .8rem;
    text-transform: uppercase;
    margin-left: 1.5rem;
    cursor: pointer;
}
.signinbtn{
    background-color: $mainblue;
    color: white;
    font-weight: bold;
    font-size: .8rem;
    text-transform: uppercase;
    padding: .5rem 3rem;
    margin-left: 1.5rem;
    cursor: pointer;
}
.search{
    border: 0;
    outline: 0;
    background-color: transparent;
    width: 4rem;

}
.main-banner{
    width: 100%;
    height: 70vh;
    background: #cecfd5 url('') center no-repeat;
    position: relative;
    
}
.top-inner{
    width: 16rem;
    height: 100%;
    background-color: #edeef3;
    position: absolute;
    right: 5rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.toptext{
    font-size: 1.7rem;
    color: #302f2f;
    font-weight: bold;
    margin-bottom: 3rem;
    text-transform: uppercase;
    word-spacing: 2px;
    line-height: 35px;
}
.blue-color{
    color: $mainblue !important;
}
p.sub{
    color: $mainblue;
    font-weight: bold;
}
.lat{
    @extend .toptext;
    margin-bottom: .2rem;
}
.wrapper{
    width: 100%;
    padding: 3rem 5rem;
}
.pagearrow{
    width: fit-content;
    margin-left: auto;
    display: flex;
    margin-bottom: 2rem;
    i{
        background-color: $mainblack;
        width: 1.5rem;
        height: 1.5rem;
        color: white;
        margin-left: .7rem;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    
}
.row.posts{
    margin-bottom: 5rem !important;
}
.fas.fa-chevron-right.current{
    background-color: $mainblue !important;
}
.imagebox{
    width: 100%;
    height: 13rem;
    background-color: $maingrey;
    position: relative;
    margin-bottom: 1rem;
    img{
        width: 100%;
        object-fit: cover;
    }
    &::before{
        content: "\f04b";
        font-family: "Font Awesome 5 Free";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
        border-radius: 50%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 50%;
        color: $mainblack;
        z-index: 999;
        cursor: pointer;
    }
}
.post-title{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #302f2f;
    font-weight: bold;
}
p.post-snip{
    font-size: .9rem;
    font-weight: 400;
    height: 2.5rem;
    overflow: hidden;
    margin-bottom: .4rem;
}
.pre{
    color: $mainblue;
    font-weight: 900;
    text-transform: uppercase;
    width: fit-content;
    margin-left: auto;
    font-size: .8rem;
    display: flex;
}
.pagination{
    background-color: #eaeaea;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.pagi{
    font-weight: bold;
    position: relative;
    font-size: .9rem;
    text-transform: uppercase;
}
.pagi.left{
    // margin-left: 1rem;
    display: flex;
    align-items: center;
    height: auto;
    cursor: pointer;
    &::before{
        content: "\f053";
        font-family: "Font Awesome 5 Free";
        position: absolute;
        font-size: 1rem;
        color: #302f2f;
        position: absolute;
        left: -1rem;
    }
        
}
.pagi.right{
    // margin-left: 1rem;
    display: flex;
    align-items: center;
    height: auto;
    cursor: pointer;
    &::before{
        content: "\f054";
        font-family: "Font Awesome 5 Free";
        position: absolute;
        font-size: 1rem;
        color: #302f2f;
        position: absolute;
        right: -1rem;
    }
        
}
.numb{
    display: flex;
    margin: 0;
    padding: 0;
    li.nu{
        list-style: none;
        padding: 0 2rem;
        color: #302f2f;
        position: relative;
        cursor: pointer;
        font-weight: bold;
        
    }
    li.nu.active{
        // background-color: red;
        &::before{
            width: 2rem;
            height: 1px;
            background-color: #302f2f;
            content: "";
            position: absolute;
            left: 50%;
            transform: translate(-50%, -5px);
        }
    }
}
footer{
    width: 100%;
    background-color: $maingrey;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 4rem;
}
.contact{
    display: flex;
    color: white;
    height: fit-content;
    align-items: center;
}
.icon{
    margin-right: .5rem;
    i{
        font-size: 1.5rem;
    }
}
.sm{
    font-size: .7rem;
    font-weight: normal;
    color: white;
    margin-bottom: 0;
    text-transform: uppercase;
}
.bg{
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}
.tops{
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
}
ul.links{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    li{
        font-size: .9rem;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        padding: 0 1rem;
        &::after{
            content: "|";
            position: relative;
            margin-left: 2rem;
        }
        &:last-child{
            &::after{
                content: "";
                margin: 0;
            }
        }
    }
}
.socials{
    display: flex;
    
    i{
        color: white;
        font-size: 1.5rem;
        padding: 0 1rem;
        cursor: pointer;
    }
}
p.copy{
    font-size: .9rem;
    text-transform: uppercase;
    text-align: center;
    color: white;
}